/* Primary design */
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.btn-primary{
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    color: #FFFFFF;
    border: 0;
    width: 160px;
    margin-top: 30px;
    font-weight: 600;
}

/* Banner Styles */
.banner-title{
    font-size: 65px;
}
.banner{
    background-color: #0000009e;
    background-image: url('../images/donation5.jpg');
    background-size: cover;
    background-blend-mode: multiply;

}
.banner-content{
    text-align: center;
    align-items: center;
    padding: 200px;
    color: #FFFFFF;
    width: 826px;
    margin: auto;

}

.banner-description{
    font-size: 18px;
    margin-top: 50px;
}

/* Donate Today Styles */

.donate-today-content{
    text-align: center;
    margin: 50px auto;
    width: 826px;
}
.donate-today-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.donate-amount{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.donate-amount h2:hover{
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    cursor: pointer;


}
.donate-amount h2{
    margin-right: 40px;
    color: #707070;
    padding: 20px;
}
.donate-today-description{
    color: #707070;
}
.donate-another-amount{
    color: #707070;
}

/* Donate Plan Styles */

.Donate-plan-content{
    width: 826px;
    margin: auto;
    text-align: center;
}
.donate-plan-box{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;
    width: 900px;
    height: 280px;
}
.Donate-plan-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}
.plan-item{
    padding: 20px 30px;
    text-align: left;
}
.paln-item-title{
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 5px;
}
.one{
    background: rgba(79, 157, 166, 0.1);
}
.two{
    background: rgba(255, 89, 89, 0.1)
}
.three{
    background: #FFF4D6;
}
.plan-item-discription{
    color: #707070;
}
.donate-plan-description{
    font-size: 18px;
    color: #707070;
}
/* Donate section One styles */

.donate-section-one{
    width: 826px;
    margin: auto;
    margin-top: 100px;
}

.donate-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.donate-section-one-image{
    width: 456px;
}
.donate-section-one-image img{
    width: 100%;
    height: 300px;
}
.donate-section-one-content{
    width: 493px;
}
.donate-section-one-title{
    margin-bottom: 20px;
    font-size: 35px;
}
.donate-section-one-title-description{
    color: #707070;
    font-size: 18px;
}

/* Contact Style */
.contact-content{
    text-align: center;
    margin: 100px auto;
    width: 800px;
}
.contact-title{
    font-size: 45px;
    margin-bottom: 25px;
}
.contact-description{
    font-size: 18px;
    color: #707070;
}
.contact-info input{
    width: 275px;
    height: 47px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: 0;
    margin-right: -8px;
}
.contact-info{
    background: #FFF4D6;
    padding: 100px;
    margin-top: 30px;

}
.btn{
    border-radius: 0;
}