/* Primary design */
*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.btn-primary{
    background: #FF5959;
    border-radius: 5px;
    padding: 16px 12px;
    color: #FFFFFF;
    border: 0;
    width: 160px;
    margin-top: 30px;
    font-weight: 600;
}

/* Banner Styles */
.banner-title{
    font-size: 65px;
}
.banner{
    background-color: #0000009e;
    background-image: url('../images/donation5.jpg');
    background-size: cover;
    background-blend-mode: multiply;

}
.banner-content{
    text-align: center;
    align-items: center;
    padding: 200px;
    color: #FFFFFF;
    width: 826px;
    margin: auto;

}

.banner-description{
    font-size: 18px;
    margin-top: 50px;
}

/* Donate Today Styles */

.donate-today-content{
    text-align: center;
    margin: 50px auto;
    width: 826px;
}
.donate-today-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.donate-amount{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.donate-amount h2{
    margin-right: 40px;
    color: #707070;
}
.donate-today-description{
    color: #707070;
}
.donate-another-amount{
    color: #707070;
}